.lab-tag{
			float:left;
			list-style:none;
			margin-top:30px;
		}

		.lab-tag:active{
			background-color: #DDDDDD
		}

		.tag-box{
			border:1px solid #DDDDDD;
			border-radius: 10px;
			width:240px;
			height:280px;
			margin:10px;
		}

		.lab-box{
			height:240px;
			width:240px;

		}
		.tag-image{
			height:120px;
			width:240px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		.lab-drb:link{
			 text-decoration: underline;
			 TEXT-DECORATION:none;
			 color:#000000;
		}
		.lab-drb:visited{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.lab-drb:hover{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.lab-drb:active{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.lab-text{
			width:220px;
			word-wrap:break-word;
            word-break:break-all;
			margin:10px auto;
		}