
.project-tag{
	float:left;
	list-style:none;
	margin-top:50px;
	margin-right:29px;
	height:320px;
}

.project-tag:active{
	background-color: #DDDDDD
}

.tag-box{
	width:240px;
	height:280px;
}

.project-box{
	border:1px solid #DDDDDD;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height:250px;
	width:240px;
}
.creator-box{
	height:68px;
			width:240px;
			border:1px solid #DDDDDD;
			border-top:none;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.tag-image{
			height:100px;
			width:239px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		.project-drb:link{
			 text-decoration: underline;
			 TEXT-DECORATION:none;
			 color:#000000;
		}
		.project-drb:visited{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.project-drb:hover{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.project-drb:active{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.project-text{
			padding-left:22px;
			width:220px;
			margin-10px;
		}
.c-control
	{
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  width: 15%;
		  font-size: 40px;
		  color: #000000;
		  text-align: center;
		  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		  filter:alpha(opacity=50);
		  opacity: 0.5;

	}
	.c-control.right
	{
		  right: 0;
		  left: auto;

	}
		.man{
			float:left;
			list-style:none;
			margin-left:28px;
		}
	.carosusel-avatar{
		border:2px solid #000000;
		margin-top:0px;
		}

#project-name{
    color:#fff;
    font-weight:bolder;
    text-shadow:#595353 2px 2px 6px;
    margin-top:50px;
}

#project-comment{
	color:#fff;
    text-shadow:#595353 2px 2px 6px;
    margin-bottom:1em;
}

#join{
	margin-bottom:30px;
}
h3{
	margin-top:15px;
	text-align:center;
}

.require{
	float:right;
	margin-right:10px;
}

#img-down{
	margin-top:12px;
	margin-right:6px;
	margin-left:12px;
	border:2px solid #3C6186;
}

#person-info{
	font-size:16px;
	margin-right:61px;
}

h6{
	text-align:center;
	padding-top:;
	margin-top:0px;
}

#comment-box{
	padding:20px;
	margin-bottom:0px;
}

#comment-box > p{
	height:170px;
	margin-left:0.5em;
}


.message-word
{
	font-size:18px;
	margin:10px;
}
