.project-tag{
			float:left;
			list-style:none;
			margin-top:30px;
		}
		
		.project-tag:active{
			background-color: #DDDDDD
		}
		
		.tag-box{
			border:1px solid #DDDDDD;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			width:240px;
			height:280px;
			margin:10px;
		}
		
		.project-box{
			height:240px;
			width:240px;
		
		}
		.creator-box{
			height:80px;
			width:240px;
			border:1px solid #DDDDDD;
			border-top:none;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		
		.tag-image{
			height:100px;
			width:240px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		
		.project-drb:link{
			 text-decoration: underline;
			 TEXT-DECORATION:none;
			 color:#000000;
		}
		.project-drb:visited{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.project-drb:hover{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.project-drb:active{
			text-decoration: underline;
			TEXT-DECORATION:none;
			color:#000000;
		}
		.project-text{
			width:220px;
			word-wrap:break-word;
            word-break:break-all;
			margin-10px;
		}
.c-control 
	{
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  width: 15%;
		  font-size: 40px;
		  color: #000000;
		  text-align: center;
		  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		  filter: alpha(opacity=50);
		  opacity: .5;
		  
	}
	.c-control.right 
	{
		  right: 0;
		  left: auto;
		  
	}
		.man{
			float:left;
			list-style:none;
			margin-left:18px;
		}